* {
  box-sizing: border-box;
  margin:10px 15px 40px 10px;

}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  text-align: left;
}
.flex-item-left {
  background-color:#D3D3D3;
  padding: 15px;
  flex: 50%;
  border:5px black solid;
}

.flex-item-right {
  background-color:#D3D3D3;
  padding: 15px;
  flex: 50%;
  border:5px black solid;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 991px), @media(min-width:767px)
 {
  .flex-container {
    flex-direction: column;
  }
}
h1{ 
  text-align: center;
}
